<div class="container">

    @if (Owner == null)
    {
        <div class="form-container center">
            <h3 class="mb-2">Player information</h3>
            @* https://stackoverflow.com/questions/77125142/blazor-server-protectedsessionstorage-setasync-returns-task-cancled-exception-wh *@
            <div class="form">
                <div class="form-group">
                    <p>
                        <MatTextField @bind-Value="@_inputName" Label="Name" Id="playerName" Outlined="true"></MatTextField>
                    </p>
                    <MatButton Outlined="true" class="mt-2" Disabled="@string.IsNullOrEmpty(_inputName)" 
                               @onclick="CreatePlayer">Save
                    </MatButton>
                </div>
            </div>
        </div>   
    }
    else
    {
        <h3 class="center">Hi @Owner.Name,</h3>
        <h3 class="center">What you want do want to do?</h3>

        <div class="center">
            <button class="btn btn-primary me-2" @onclick="StartGame">
                Create Game
            </button>

            <button class="btn btn-secondary" @onclick="StartGame">
                Join Game
            </button>
            <button class="btn btn-tertiary" @onclick="ChangeName">
                Change Name
            </button>
        </div>

        <div id="game-board">
            <!-- Game UI goes here -->
        </div>
    }
</div>