.demo-mat-card {
    max-width: 400px;
}

.demo-mat-card-content {
    padding: 1rem !important;
}

.demo-mat-card-clean-margin {
    margin: 0;
}

.card img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

.card {
    display: flex;
    flex-direction: row; /* Change from column to row */
    align-items: center; /* Align items vertically centered */
    justify-content: center; /* Center the cards horizontally */
    gap: 10px; /* Add some space between the cards */
}

.play-card:hover, .selected {
    border: 3px solid limegreen;
    border-radius: 8px;
}

.no-play:hover {
    cursor: not-allowed !important;
}