@page "/join/{playerId}"
<div class="center form-container join-form">
    <MatH3>Join a game</MatH3>
    <MatH4>Enter game code below</MatH4>
    <p>
        <MatTextField @bind-Value="@_joiningId" Label="Code" Outlined="true" Style="width: 340px;"></MatTextField>
        <MatButton OnClick="JoinGame">Join</MatButton>
    </p>
</div>