@page "/lobby/{gameId?}"
<div class="center">
    <!-- Game UI goes here -->
    <MatH3>@( _isMine ? "You have created a game" : "You joined the game")</MatH3>
    
    @if (_isMine)
    {
        <MatH4>Copy the link below to invite others</MatH4>
        <p>
            <MatTextField @bind-Value="@GameId" Label="Code" Outlined="true" Disabled="true" Style="width: 340px;"></MatTextField>
            <MatButton OnClick="CopyToClip">Copy</MatButton>
        </p>
    }

    @if (_players?.Count > 0)
    {
        <MatH4>Players Joined</MatH4>


        <table class="table table-responsive">
            @foreach (Player player in _players)
            {
                <tr>
                    <td>@player.Name</td>
                </tr>
            }
        </table>
        if (_isMine)
        {
            <MatButton Outlined="true" Disabled="_ready < _players.Count" class="btn btn-primary me-2" OnClick="Start">
                Start
            </MatButton>
        }
        else
        {
            <MatButton Outlined="true" class="btn btn-primary me-2"
                       OnClick="Start">Ready</MatButton>
        }
    }

</div>