@inherits LayoutComponentBase

<PageTitle>Crazy8Web</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3">
            © 2024 Crazy8Web | by
            <a class="text-dark" href="https://github.com/karabomatabane/Crazy8Web">Karabo Matabane</a>
        </div>
    </footer>
</div>