@inherits LayoutComponentBase

<PageTitle>Crazy8Web</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div class="bg-light my-footer footer text-center text-lg-start">
    <div class="text-center">
        © 2024 Crazy8Web | by
        <a class="text-dark" href="https://github.com/karabomatabane/Crazy8Web">Karabo Matabane</a>
    </div>
</div>